.card{
    /* border:1px solid black; */
    padding: '2rem';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    box-shadow: inset 5px 5px 15px #242121;
    border-radius: 10%;
    background-color:var(--yellow);
    flex-basis: 30%;
    cursor: pointer;
}

.card:active {
    box-shadow: inset 5px 5px 10px #020b5b, inset -5px -5px 10px #290000;
    color: #000000;
    background-color: #e4771d;
  }